.input-box {
    position: relative;

}


.input-box input {
    font-size: 16px;
    position: relative;

    display: flex;
    align-content: flex-end;
    flex-direction: row;
    padding: 2px 4px 2px 12px;
    gap: 4px;

    width: 255px;
    height: 32px;
    margin-left: 118px;


    background: #FFFFFF;

    border: 1px solid #c7c7ce;
    border-radius: 18px;


    flex: none;
    order: 1;
    flex-grow: 1;

}

.input-box img {
    position: relative;
    display: flex;
    left: 250px;
    bottom: 28px;
    margin-left: 118px;
}

.input-box ::placeholder {
    background-color: #FFFFFF;
    opacity: 0.4;
}

.input-box :focus {
    outline: none;
}


