.container{
    position:relative;
    width:320px;
    height:700px;
    background-color: #524b3f;
    margin:30px;
}

.ChatList{
    list-style: none;
    padding: 5px;
}
.ChatPreview{
    width:100%;
    padding:30px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
    border-radius: 15px;
    font-weight: bold;
    font-size:24px;
    cursor: pointer;
}
.ChatPreview:hover{
    background-color: rgba(255,255,255,0.6);
}