.chat-container {
  display: flex;
  background-color: #262627;
}

.chatbox, .your-chatbox {
  border-radius: 15px;
  font-size: 1em;
  width: fit-content;
  height: fit-content;
  padding: 12px;
  margin-bottom: 8px;
}

p {
  margin: 0px;
}

img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

/* .chatbox p {
    margin: 0px;
} */

.your-cont {
  background-color: #262627;
  display: flex;
  flex-direction: flex-start;
}

.your-cont2 {
  display: flex;
  flex-direction: column;
}

.your-profile {
  background-color: none;
  width: 2.5em;
  height: 2.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.your-name {
  background-color: none;
  margin-bottom: 0.2em;
}

.your-name p {
  color: #A2A2A3;
  text-align: left;
  font-size: 0.8em;
}

.your-chatbox {
  background-color: #3A3A3B;
  color: #F2F2F2;
}

/* .your-chatbox p {
  margin: 0px;
} */